:root {
  --font-primary: "Roboto Condensed", sans-serif;
  --color-primary: #333;
  --color-primary-hover: #F8F8FF;
  --color-primary-inverted: #F8F8FF;
  --color-primary-inverted-hover: #333;
  --color-secondary: grey;
  --color-text-light: #4a4a4a;
  --bg-color-google: #F8F8FF;
  --bg-color-google-hover: #4285f4;
  --color-google-hover: #F8F8FF;
  --color-google-blue-rgb: 66, 133, 244;
  --border-color: #333;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;

  --border-radius-sm: 5px;
  --border-radius-md: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 20px 40px;
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  line-height: 1.5;
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--color-secondary);
  }
}